{% extends "layout.html" %}
{% block body %}
	<nav>
		<div class="nav-wraper">
			<div class="nav-content">
				<b>CodeBase</b>
			</div>
		</div>
	</nav>
	<div class="content-box">
		<div class="new-post-panel">
			<div class="content-block">
				<form action="" method="POST">
					{{ form.hidden_tag() }}
						{{form.project_title.label(class="form-control-label")}}
						{{form.project_title(class="form-control-label")}}
						{{form.project_description.label(class="form-control-label")}}
						{{form.project_description(class="form-control-label form-row form-control-plaintext form-control-lg")}}
						{{form.submit(class="btn btn-group-lg mt-3")}}
				</form>
			</div>
		</div>
	</div>
{% endblock body %}