{% extends "layout.html" %}
{% block body %}
	<nav>
		<div class="nav-wraper">
			<div class="nav-content">
				<a href="{{url_for('home')}}"><b style="margin=10px;">CodeBase</b></a>
			</div>
		</div>
	</nav>
	<div class="content-box">
		<div class="new-post-panel">
			<div class="content-block">
				<form action="" method="POST">
					{{ form.hidden_tag() }}
						{{form.project_title.label(class="form-control-label")}}
						{{form.project_title(class="form-control-label form-control-sm is-invalid")}}
						{{form.project_description.label(class="form-control-label")}}
						{{form.project_description(class="form-control form-control-lg")}}
						{{form.submit(class="btn btn-group-lg mt-3 btn-outline-danger")}}
				</form>
			</div>
		</div>
	</div>
{% endblock body %}