{% extends "layout.html" %}

<!-- WILL CHANGE THIS PAGE TO BE THE MAIN PAGE
AND SHOW PROJECTS POSTED-->

<body class="home-body">
    {% block body %}
        <nav>
            <div class="nav-wrapper">
                <div class="nav-container">
                    <a href="{{url_for('home')}}"><b style="margin=10px;">CodeBase</b></a>
                    <a class="btn" href="{{url_for('profile')}}">Profile</a>
                    <a class="btn btn-toolbar" href="{{url_for('new_post')}}">New post</a>
                </div>
            </div>
        </nav>
        <hr><p/>
        <div class="container">
            <iframe src="{{url_for('posts')}}"></iframe>
        </div>
    {% endblock body %}
</body>