<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>CodeBase - {{ title }}</title>
		{% else %}
			<title>CodeBase</title>
		{% endif %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<div class="row">
			<div class="col-md-8">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category,message in messages %}
							<div class="alert alert-{{category}}">
								{{mesgae}}
							</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
			</div>
		</div>
		{% block body %}
		{% endblock body %}
	</body>
</html>
