{% extends "layout.html" %}
{% block body %}
<main>
	{% for project in projects[::-1] %}
	 <div class="home-project-card">
		 <div class="content">
			 <div class="card-image">
				 <img src="{{url_for('static',filename='images/profile_pix/' + project.author.profile_pic)}}" class="home-image-section">
			 </div>
			 <p>
				<h5 style="position:relative;margin-left:1.5cm;">{{ project.author.username }}</h5>
			 </p>
			 <hr class="divider-hr">
			 <p><b><h5>{{ project.title }}</h5></b><small class="post-date">{{project.date_posted.date()}}</small></p><br>
			 <div class="post-content">{{ project.post}}</div>
		 </div>
	 </div>
	{% endfor %}
</main>
{% endblock body %}