{% extends "layout.html" %}
<!-- HERE A USER WILL BE ABLE TO POST THERE PROJECTS-->
<body>
    {% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="nav-container">
                <b style="margin=10px;">CodeBase</b>
            </div>
        </div>
    </nav>
    <div class="msg-board">
        <div class="msg-title">
           Your Projects
        </div>
        <hr>
        <div class="msg-form">
            {% for project in projects %}
                <div class="project-card">
                    {{project.title}}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="profile-info">
    </div>
    <div class="post-project-panel">
       {{ form.project_name.label() }}
       {{ form.project_name() }}
       {{ form.project_description.label() }}
       {{ form.project_description(class="form-control-plaintext")}}
       {{ form.send(class="btn btn-outline-info") }}
    </div>
    {% endblock body %}
</body>