{% extends "layout.html" %}
<!-- HERE A USE WILL BE ABLE TO UPDATE THERE PROFILE-->
<body>
    {% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="nav-container">
                <b style="margin=10px;">CodeBase</b>
            </div>
        </div>
    </nav>
    <div class="msg-board">
        <div class="msg-title">
           Your Projects
        </div>
        <hr>
        <div class="msg-form">
            {% for project in projects %}
                <div class="project-card">
                    {{project.title}}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="profile-info"></div>
		<div class="post-profile-update">
		   {{ form.user_name.label(class="form-control-label") }}
		   {{ form.user_name(class="form-control-label") }}
		   {{ form.user_email.label(class="form-control-label") }}
		   {{ form.user_email(class="form-control-plaintext")}}
		   {{ form.send(class="btn btn-outline-info") }}
		</div>
	
    {% endblock body %}
</body>