{% extends "layout.html" %}
<!-- HERE A USE WILL BE ABLE TO UPDATE THERE PROFILE-->
<body>
    {% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="nav-container">
                <b style="margin=10px;">CodeBase</b>
            </div>
        </div>
    </nav>
    <div class="msg-board">
        <div class="msg-title">
           Your Projects
        </div>
        <hr>
        <div class="msg-form">
            {% for project in projects %}
                <div class="project-card">
                    <!--WANT THIS SECTION TO DISPLAY PROJECT TITLES POSTED BY THE USER
                    {{project.title}}
                    -->
                </div>
            {% endfor %}
        </div>
    </div>
	<div class="post-profile-update">
        <div class="profile-info">
            <div class="details">
                <div class="user-name">
                    <h3>{{current_user.username}}</h3>
                </div>
                <div class="card-image">
                    <img class="image-section"
                    src="{{profile_pic}}">
                </div>
            </div>
        <div class="content">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control-label") }}
                    {{ form.bio.label(class="form-control-label") }}
                    {{ form.bio(class="form-control-plaintext")}}
                    {{ form.image.label(class="form-control-file mt-3")}}
                    {{ form.image(class="form-control-file file-field")}}
                    {{ form.send(class="btn btn-outline-info badge-primary") }}
            </form>
        </div>
		</div>
	</div>
    {% endblock body %}
</body>