body {
        background-color: #D7D7D7;
    }
    
.login-panel {
        background: rgb(255, 255, 255);
        font-family: trench;
        font-size: 25px;
        border-radius: 8px;
        position: relative;
        margin-left: 8cm;
        left: 2cm;
        width: 15cm;
        top: 2.4cm;
        text-align: center;
        float: left;
        box-shadow: 1px 10px 10px 1px rgba(63, 63, 61, 0.226);
    }
    
.msg-board {
        background: white;
        font-family: trench;
        font-size: 25px;
        border-radius: 5px;
        position: relative;
        margin-left: 18.9cm;
        left: 2cm;
        width: 15cm;
        top: 0.8cm;
        text-align: center;
        float: left;
        box-shadow: 1px 10px 10px 1px rgba(63, 63, 61, 0.226);
        height: 14.8cm;
    }
    
.msg-title {
        font-family: trench;
        font-size: 16px;
        position: relative;
        top: 4px;
    }
    
.project-card {
        background-color: rgb(148, 255, 116);
        font-family: trench;
        font-size: 17px;
        text-align: center;
    }
    
.post-project-panel {
        background-color: white;
        border-radius:4px;
        padding-bottom:2pc;
}

.home-body{
    background-color:whitesmoke;
}
.home-project-card{
    background-color:aliceblue;
    padding-bottom:3cm;
    z-index:1;
    box-shadow: rgba(0, 0, 0, 0.178);
    border-radius:2px;
    margin:0;
}