body{
    background-color:white;
    }

.login-panel {
        background: rgb(255, 255, 255);
        font-family: trench;
        font-size: 25px;
        border-radius: 8px;
        position: relative;
        margin-left: 8cm;
        left: 2cm;
        width: 15cm;
        top: 2.4cm;
        text-align:center;
        float: left;
        box-shadow: 1px 10px 10px 1px rgba(63, 63, 61, 0.226);
    }
.login-panel .iner-login-panel{
    position:relative;
    margin-left:30px;
    width:12cm;
    text-align: left;
}
.msg-board {
        background: white;
        font-family: trench;
        font-size: 25px;
        border-radius: 5px;
        position: relative;
        margin-left: 18.9cm;
        left: 2cm;
        width: 15cm;
        top: 0.8cm;
        text-align: center;
        float: left;
        box-shadow: 1px 10px 10px 1px rgba(63, 63, 61, 0.226);
        height: 14.8cm;
    }
.msg-title {
        font-family: trench;
        font-size: 16px;
        position: relative;
        top: 4px;
    }
.msg-board .mgs-form .project-card {
        background-color: rgb(148, 255, 116);
        font-family: trench;
        font-size: 17px;
        border-radius: 4px;
        padding-bottom: 4px;
        margin: 5px;
        width:14.5cm;
    }
.post-profile-update {
        background-color: white;
        border-radius:4px;
        padding-bottom:2cm;
        position:absolute;
        top:3.5cm;
        float: left;
        width:14cm;
        margin-left:4cm;
        box-shadow:1px 2px 20px 1px rgba(0, 0, 0, 0.294);
}
.post-profile-update .content{
    margin:8px;
}
.home-project-card{
    background-color:white;
    padding-bottom:1cm;
    z-index:2;
    /*box-shadow:1px 2px 20px 1px rgba(0, 0, 0, 0.294);*/
    border-radius:3px;
    margin:10px;
    width:15cm;
    border-style: groove;
    border-color: lightgray;
    border-width: thin;
}

.home-project-card .content{
    margin:5px;
    position:relative;
    top:4px;
}
.divider-hr{
    margin-top:35px;
    position:relative;
    top:3px;
}
.content-box .new-post-panel{
    background-color: white;
    width:16cm;
    height: 8cm;
    margin-left:6cm;
    position:relative;
    margin-top:2cm;
    box-shadow:1px 2px 20px 1px rgba(0, 0, 0, 0.294);
}
.content-box .new-post-panel .content-block{
    margin:8px;
    float: inline-start;
}
.details{
    margin: 5px;
}

.post-profile-update .profile-info .details .image-section{
    margin: 5px;
    border-radius: 100pc;
    width:120px;
    height: 120px;
    border-style: solid;
}
.post-profile-update .profile-info .details .user-name{
    position:absolute;
    float: right;
    margin-left:3.5cm;
    top:0.5cm;
}
.home-project-card .content .home-image-section{
    width:50px;
    height: 50px;
    border-radius: 100pc;
    border-style: solid;
    border-width:3.5px;
    position:absolute;
}
iframe{
    width:66.1%;
    height:17cm;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
    border-width:thin;
    border-color:lightgray;
}
.search-user{
    position:relative;
    padding-bottom:0.3cm;
    top:0.1cm;
    float:right;
    margin-right:3cm;
    width:9.6cm;
    padding-bottom:19px;
    border-radius:3px;
    box-shadow:1px 2px 20px 1px rgba(0, 0, 0, 0.294);
}
.search-user .search-form{
    width:7.5cm;
    height:2.5cm;
    font-family: trench;
    font-size:23px;
    place-items: 5px 8px;
    padding-bottom:4px;
}
.place{
    position:relative;
    top:-23px;
}
.search-btn-place{
    position:relative;
    top:-18px;
}
.search-results{
    position: relative;
    top:5cm;
    margin-left:15cm;
    float:right;
    width:11cm;
    height: 8cm;
    place-items: 5px 8px;
    box-shadow:1px 2px 20px 1px rgba(0, 0, 0, 0.294);
}
.search-results .search-data{
    box-shadow:1px 2px 20px 1px rgba(0, 0, 0, 0.294);
    border-radius: 6px;
}
.search-results .search-data .bio{
    position: relative;
    margin-top: 0.2cm;
}
