<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>DevNode - {{ title }}</title>
		{% else %}
			<title> DevNode</title>
		{% endif %}
		<!--<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>-->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		{% block body %}
		{% endblock body %}
	</body>
</html>